@import url(./global.css);
@import url(./header.css);

/* HERO SECTION */

main {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hero-section {
    width: 78rem;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(2rem + 8px);
    justify-content: center;
    align-items: start;
    margin-top: calc(4rem + 8px);
}

.hero-text-box {
    display: flex;
    flex-flow: column wrap;
    max-width: 37rem;
    height: 34.7rem;
    margin-top: 1rem;
}

.heading-primary {
    color: var(--black);
    font-family: "Poppins";
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
}

.heading-secondary {
    color: var(--black);
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem 0 1.5rem 0;
}

.hero-description {
    font-family: "Inter";
    font-weight: medium;
    font-size: 1.5rem;
    line-height: 1.5;
    width: 36.25rem; /* 580px / 16  */
    margin-top: 1.5rem;
}

.hero-buttons {
    display: flex;
    flex-flow: column wrap;
}

.btn-container {
    display: flex;
    gap: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: calc(1rem + 4px);
    gap: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-image-container {
    display: inline-flex;
    align-items: center;
}

/* SUPPORT RESULT SECTION */

.accomplishment-section {
    background-color: var(--black);
    margin: calc(7rem + 8px) 0;
    height: 100%;
}

.accomplishment-result-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75.5rem;
    text-align: center;
}

.accomplishment-result-title {
    width: 56rem;
    font-family: 'Poppins';
    font-size: calc(3rem + 8px);
    font-weight: bold;
    padding: 4rem 0;
    line-height: 1.2;
    color: var(--white);
}

.accomplishment-result-second-box {
    display: flex;
    flex-direction: column wrap;
    justify-content: center;
    margin: 0 auto;
    width: 75.5rem;
    text-align: center;
    gap: calc(4rem + 8px);
}

.accomplishment-result-second-box > div > span {
    font-family: 'Poppins';
    font-size: 4rem;
    font-weight: bold;
    color: var(--yellow);
}

.accomplishment-result-second-box > div > h3 {
    font-family: 'Poppins';
    font-size: 2rem;
    color: var(--white);
    margin: 1rem 0;
    font-weight: bold;
}

/* CARROSEL */

.carrosel-container {
    display: flex;
    justify-content: center;
    margin: 5rem;
    position: relative;
}

.slider {
    display: flex;
    justify-content: center;
    width: 75.5rem;
}

.slides {
    transition: transform 0.5s ease-in-out;
}

.slides .slide {
    width: 20%;
    flex-shrink: 0;
    border-radius: 10px;
    margin: 0 1rem;
}

.prev-slide, .next-slide {
    position: absolute;
    background-color: var(--white);
    color: var(--white);
    border: none;
    padding: calc(0.5rem + 2px);
    border-radius: 100%;
    cursor: pointer;
}

.prev-slide {
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
}

.next-slide {
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
}

.prev:hover, .next:hover {
    background-color: var(--black);
}
